<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login.Properties.Settings.Database_ProjectConnectionString"
            connectionString="Data Source=DESKTOP-UIDARLS\SQLEXPRESS;Initial Catalog=&quot;Database Project&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>